* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body, html{
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.el-icon-arrow-right,.el-icon-arrow-left {
  color: #fff;
  font-size: 20px;
}
.nav-container .is-active {
  background: #efefef !important;
  border-bottom: #d8d8d8 !important;
}
.nav-container .el-tabs__item {
  background: #d8d8d8;
}
.nav-container .el-tabs--card>.el-tabs__header {
  border-bottom: 1px solid #d0d0d0;
}
.nav-container .el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: 1px solid #d0d0d0;
  border-bottom: none;
}
.el-pagination {
  text-align: center;
}
.table th {
  background: #c6d2e9;
  color: #666;
}
